
body{
    background-color: #4C4C4C;
}

.main-container{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 10px;
}

.greeting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-level{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remove-line{
    text-decoration:none;
    color: black;
}

h5{
    margin-top: 15px;
}

table{
    margin-top: 25px;
}

img{
    height: 70px;
    margin-left: 1300px;
}
